<!doctype html>
<html lang="en">
  <head>
    <title>CRUD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <section class="container mt-5 p-3">
          
    <h1>Hello World !!</h1>
        <h3>Add Todo</h3>
        <form action="/add" method="POST">
            <input type="text" placeholder="title" name="title" />
            <input type="text" placeholder="description" name="description" />
            <button type="submit">Submit</button>
          </form>
    </section>

  </body>
</html>